.list-images{
  display: flex;
  overflow: scroll;
}
.card-custom{
  border: #d2d5d6 solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  margin: 12px 8px;
}
.card-custom>img{
  height: 220px;
}
.card-custom:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info-title{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.info-title:hover{
  white-space: break-spaces; 
  overflow: visible;
  cursor: pointer;
}
.text-desc{
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis; 
  
}