<div class="d-flex flex-column flex-md-row justify-content-around">
  <div class="col-12 col-md-5">
    <h3 class="text-center">Page developed by</h3>
    <p class="text-center">Ruben Dario Guzman Gonzalez</p>
  </div>
  <div class="col-12 col-md-7 d-flex justify-content-around">
    <a href="https://github.com/rubendario981" target="_blank">
      <div class="">
        <img src="https://cdn.iconscout.com/icon/free/png-256/github-1521500-1288242.png" width="48" class="img-thumbnail rounded-circle" alt="github icon">
        <p class="text-center">GitHub</p>
      </div>
    </a>
    <a href="https://wa.link/9h00js" target="_blank">
      <div>
        <img src="https://secure.webtoolhub.com/static/resources/icons/set111/f6480dc4.png" width="48" class="img-thumbnail ms-2 rounded-circle" alt="whatsapp icon">
        <p class="text-center">WhatsApp</p>
      </div>
    </a>
    <a href="https://www.linkedin.com/in/rdguzmango/" target="_blank">
      <div>
        <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/linkedin-3506278-2932736.png?f=webp&w=256" width="48" class="img-thumbnail rounded-circle" alt="Linkedin icon">
        <p class="text-center">Linkedin</p>
      </div>
    </a>
  </div>
</div>